@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  color: var(--mantine-color-secondary-10);
}

.mantine-Input-input:focus {
  border-color: var(--mantine-color-green-7);
}

.mantine-Input-input:focus-within {
  border-color: var(--mantine-color-green-7);
}

.grid-overflow {
  overflow: visible !important;
}
